In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder 

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("../data/testproc.csv", index_col = 0)
df.head(2)

    carat      cut color clarity       size
id
0    0.32    Ideal     I     SI1   53.70489
1    1.24  Premium     I     SI1  195.24432

In [3]:
df2 = df.copy()
df2.head(2)

    carat      cut color clarity       size
id
0    0.32    Ideal     I     SI1   53.70489
1    1.24  Premium     I     SI1  195.24432

In [4]:
df2.cut.unique()

array(['Ideal', 'Premium', 'Fair', 'Good', 'Very Good'], dtype=object)

In [5]:
mapa = {"Premium": 4, 
        "Ideal": 3,
        'Very Good' : 2,
        'Fair' : 1,
        'Good': 0}

In [6]:
df2["cut"] = df2["cut"].map(mapa)

In [7]:
df2.clarity.unique()

array(['SI1', 'SI2', 'VS2', 'VS1', 'IF', 'VVS1', 'VVS2', 'I1'],
      dtype=object)

In [8]:
mapa2 = {"IF": 7, 
        "VVS1": 6,
        'VVS2' : 5,
        'VS1' : 4,
        'VS2': 3,
        'SI1': 2,
        'SI2': 1,
        'I1': 0}

In [9]:
df2["clarity"] = df2["clarity"].map(mapa2)

In [10]:
df2.color.unique()

array(['I', 'D', 'E', 'H', 'G', 'F', 'J'], dtype=object)

In [11]:
mapa3 = {"D": 6, 
        "E": 5,
        'F' : 4,
        'G' : 3,
        'H': 2,
        'I': 1,
        'J': 0}

In [12]:
df2["color"] = df2["color"].map(mapa3)

In [13]:
df2.head(2)

    carat  cut  color  clarity       size
id
0    0.32    3      1        2   53.70489
1    1.24    4      1        2  195.24432

In [14]:
df2.to_csv('../data/testperf.csv')