In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
from sklearn.model_selection import train_test_split
plt.rcParams["figure.figsize"] = (10,8)


import statsmodels.formula.api as smf

from sklearn.neighbors import KNeighborsRegressor


from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics


import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("../data/dfperf.csv", index_col = 0)
df.head(2)

    carat  cut  color  clarity  price        size
id
0    0.30    4      6        1  6.353   49.437424
1    1.01    3      5        5  9.183  167.551728

In [4]:
X = df.drop('price', axis =1)
y = df['price']

In [5]:
kn = KNeighborsRegressor(n_neighbors=8)

In [6]:
kn.fit(X, y)

KNeighborsRegressor(n_neighbors=8)

In [7]:
dft = pd.read_csv("../data/testperf.csv", index_col = 0)
dft.head(2)

    carat  cut  color  clarity       size
id
0    0.32    3      1        2   53.70489
1    1.24    4      1        2  195.24432

In [8]:
kn.predict(dft)

array([6.15225 , 8.554   , 9.43825 , ..., 6.508   , 8.694125, 7.989875])

In [9]:
res = pd.DataFrame(kn.predict(dft))
res.head()

          0
0  6.152250
1  8.554000
2  9.438250
3  7.936125
4  9.128500

In [22]:
res = res.reset_index(inplace=True)

res.set_index([pd.Index(['index_columns'])])

In [18]:
res.rename(columns = {'index':'id', 0 :'price'}, inplace = True)

In [19]:
res.head()

   id     price
0   0  6.152250
1   1  8.554000
2   2  9.438250
3   3  7.936125
4   4  9.128500

In [16]:
res.to_csv('../data/resultados.csv')