In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder 

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [18]:
df = pd.read_csv("../data/dfproc.csv", index_col = 0)
df.head(2)

    carat      cut color clarity  price        size
id
0    0.30  Premium     D     SI2  6.353   49.437424
1    1.01    Ideal     E    VVS2  9.183  167.551728

In [19]:
df2 = df.copy()
df2.head(2)

    carat      cut color clarity  price        size
id
0    0.30  Premium     D     SI2  6.353   49.437424
1    1.01    Ideal     E    VVS2  9.183  167.551728

In [20]:
df2.cut.unique()

array(['Premium', 'Ideal', 'Very Good', 'Fair', 'Good'], dtype=object)

In [21]:
mapa = {"Premium": 4, 
        "Ideal": 3,
        'Very Good' : 2,
        'Fair' : 1,
        'Good': 0}

In [22]:
df2["cut"] = df2["cut"].map(mapa)

In [23]:
df2.head()

    carat  cut color clarity  price        size
id
0    0.30    4     D     SI2  6.353   49.437424
1    1.01    3     E    VVS2  9.183  167.551728
2    0.72    3     F     VS2  7.983  116.024916
3    1.08    2     G     SI2  8.371  175.141200
4    0.36    4     G     VS1  6.588   57.739500

In [24]:
df2.clarity.unique()

array(['SI2', 'VVS2', 'VS2', 'VS1', 'SI1', 'VVS1', 'IF', 'I1'],
      dtype=object)

In [25]:
mapa2 = {"IF": 7, 
        "VVS1": 6,
        'VVS2' : 5,
        'VS1' : 4,
        'VS2': 3,
        'SI1': 2,
        'SI2': 1,
        'I1': 0}

In [26]:
df2["clarity"] = df2["clarity"].map(mapa2)

In [27]:
df2.head()

    carat  cut color  clarity  price        size
id
0    0.30    4     D        1  6.353   49.437424
1    1.01    3     E        5  9.183  167.551728
2    0.72    3     F        3  7.983  116.024916
3    1.08    2     G        1  8.371  175.141200
4    0.36    4     G        4  6.588   57.739500

In [28]:
df2.color.unique()

array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object)

In [29]:
mapa3 = {"D": 6, 
        "E": 5,
        'F' : 4,
        'G' : 3,
        'H': 2,
        'I': 1,
        'J': 0}

In [30]:
df2["color"] = df2["color"].map(mapa3)

In [31]:
df2.head()

    carat  cut  color  clarity  price        size
id
0    0.30    4      6        1  6.353   49.437424
1    1.01    3      5        5  9.183  167.551728
2    0.72    3      4        3  7.983  116.024916
3    1.08    2      3        1  8.371  175.141200
4    0.36    4      3        4  6.588   57.739500

In [32]:
df2.to_csv('../data/dfperf.csv')