In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/test.csv", index_col = 0)
df.head()

    carat      cut color clarity  depth  table     x     y     z
id
0    0.32    Ideal     I     SI1   60.5   58.0  4.43  4.49  2.70
1    1.24  Premium     I     SI1   62.9   60.0  6.80  6.74  4.26
2    1.66  Premium     D     SI1   62.0   59.0  7.55  7.60  4.70
3    0.75  Premium     D     SI2   60.6   56.0  5.94  5.90  3.59
4    1.50     Fair     E     SI2   64.8   55.0  7.26  7.15  4.67

In [3]:
df['size'] = df['x'] * df['y'] * df['z']

In [4]:
df['depthcalc'] = df['z'] / ((df['x'] + df['y'])/2)

In [5]:
df.drop(columns = ['x', 'y', 'z', 'depthcalc', 'depth', 'table'], inplace = True)
df.head()

    carat      cut color clarity       size
id
0    0.32    Ideal     I     SI1   53.70489
1    1.24  Premium     I     SI1  195.24432
2    1.66  Premium     D     SI1  269.68600
3    0.75  Premium     D     SI2  125.81514
4    1.50     Fair     E     SI2  242.41503

In [6]:
df.to_csv('../data/testlimp.csv')